/* Common style sheet area */
*{
    padding: 0;
    margin: 0;
}
body{
    margin: auto;
    width:70vw; 
    border: 1px solid black;
}
.common-margin{
    margin: 0 auto 65px;
}
.font-inter{
    font-family: 'Inter', sans-serif;
}
.font-merriweather{
    font-family: 'Merriweather', serif;
}

/* header section */
#banner{
    height: 400px;
    width: 800px;
    background-image: url(../resources/Banner\ Image.png);
    background-size: 800px,400px;
    background-repeat: no-repeat;
    color: rgb(0, 255, 0);
    margin-top: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#banner h2{
text-align: center;
font-weight: 400;

}
#banner h1{
    width: 500px;
    padding-top: 15px;
    text-align: center;
    font-weight: 900;
    font-size: 45px;
}
/* Bonus Section */
#section-bonus{
    width: 500px;
    margin: auto;
    text-align: center;
}
#section-bonus h1{
    color: #F00;
    font-size: 56px;
    text-align: center;
    font-weight: 700;
    margin: 20px 0;
}
#section-bonus p{
    color: #F00;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
}
#section-bonus h2{
    color: #070211;
    text-align: center;
    font-weight: 700;
    font-size: 28px;

}
/* Welcome Section */
#section-welcome{
    width: 800px;
    height: 400px;
    background-image: url(../resources/welcome.png);
    background-size: 800px, 400px;
    background-repeat: no-repeat;
    margin-top: 65px;
    color: #2ce61b;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#section-welcome h1{
    width: 400px;
    font-size: 45px;
    font-weight: 900;
    letter-spacing:2px;
    margin: 0 0 15px 65px;
}
#section-welcome small{
    width: 500px;
    margin-left: 65px;
}
#section-welcome p{
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 25px 0 0 80px;
}

/* Event Section */
#section-event{
    background-color: rgba(255, 0, 0, 0.05);
    width: 800px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#schedual{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
#schedual span{
    color: red;
}
#join-event{
    margin-top: 20px;
    padding: 10px 15px;
    color: #FFF;
    border: none;
    border-radius: 10px;
    background: #F00;
    text-align: center;
    font-weight: 700;
}
/* Challenge section */
#section-challenge{
    display: flex;
    justify-content: space-between;
    width: 800px;
    height: 250px;
}
#new-offer{
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#new-offer h3{
    color: #F00;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}
#new-offer h1{
    color: #070211;
    font-weight: 900;
    margin-bottom: 10px;
}
#challenge-image-1{
    border: 5px solid red;
    border-radius: 125px;
    padding: 15px;
    margin: 0 40px 0 0;
    
}
#offer-timeline{
    width: 200px;
    display: flex;
    flex-direction: column;
}
#offer-timeline h1{
    color: #F00;
    font-size: 40px;
    font-weight: 700;
    margin-top: 40px;
}
#offer-timeline img{
    margin: auto auto 0 0;
}
/* holliday plan */
#section-holliday{
    width: 800px;
}
#holliday-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#holliday-text p{
    color: #070211;
    font-weight: 500;
}
#holliday-text h1{
    color: #F00;
    font-size: 40px;
    font-weight: 900;
    margin-top: 10px;
}
#holliday-text small{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-weight: 500;
}
#holliday-image{
    height: 450px;
    width: inherit;
    position: relative;
}
#holliday-image-no-comment{
    height: 280px;
    width: 280px;
    position: absolute;
    left: 520px;
    top: 20px;
}
#holliday-image-discount{
    height: 180px;
    width: 180px;
    border-radius: 90px;
    position: absolute;
    left:430px ;
    top:70px ;
}
#holliday-image-red-shade{
    width: 100%;
    height: 150px;
    position: absolute;
    left: 0;
    top:300px ;
}
#holliday-image-unboxing{
    height: 350px;
    width: 350px;
    position: absolute;
    left: 50px;
    top: 50px;
    z-index: 1;
}
/* main section */
#section-main{
    width: 800px;
}
#section-main p{
    color: #F00;
    font-weight: 500;
}
#section-main h1{
    color: #070211;
    font-weight: 900;
    margin: 10px 0;
}
#main-image-container{
    margin-top: 20px;
}
.section-main-image:hover{
    border: 2px solid red;
}
/* Newsletter Section */
#section-newsletter{
    background: rgba(255, 0, 0, 0.05);
    width: 800px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#section-newsletter h1{
    color: #070211;
    font-weight: 900;
    margin: 20px 0;
}
#section-newsletter small{
    color: rgba(7, 2, 17, 0.60);
    font-weight: 400;
    margin-bottom: 30px;
}
#input:hover{
  border: 3px solid rgba(105, 161, 224, 0.377);
  border-radius: 58px;
}
#input input{
    padding: 15px 100px 15px 25px;
    border-radius: 58px 0 0 58px;
    border: none;
}

#input button{
    padding: 15px 30px;
    background-color: red;
    color: white;
    border-radius: 0px 58.813px 58.813px 0px;
    border: none;
}


/* footer section */
#footer{
    background: #070211;
}